*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    height: 48px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}
#nav>div{
    color: white;
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}
#nav>div>div{
    background-image: url(practice\google\img\Monkey-Selfie.webp);
    
}